<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image to WebP Converter</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> <!-- Correct CSS path -->
</head>
<body>
    {% extends "base.html" %}  <!-- Extend from base.html for consistent layout -->

    {% block title %}
    Image to WebP Converter
    {% endblock %}
    
    {% block content %}
        <h1>Image to WebP Converter</h1>
        
        <div id="drop-area">
            <p>Hallo and drop images here (PNG, JPG, TIFF)</p>
            <input type="file" id="fileElem" multiple accept=".png,.jpg,.jpeg,.tiff,.tif" style="display:none;">
            <label for="fileElem" style="cursor: pointer;">Select files</label>
        </div>
    
        <ul id="fileList"></ul> <!-- List for displaying added files -->
        
        <!-- Quality control slider -->
        <div id="quality-control">
            <label for="quality">Select Quality (0-100):</label>
            <input type="range" id="quality" name="quality" min="1" max="100" value="80">
            <span id="qualityValue">80</span>
        </div>
    
        <button id="convertBtn">Convert</button>
    
        <div id="downloadBtn" style="display: none;">
            <p>Files converted successfully!</p>
            <a id="downloadLink" href="#">Download Converted Files</a>
        </div>
    
        <script src="{{ url_for('static', filename='script.js') }}"></script> <!-- Link to the external JavaScript file -->
    {% endblock %}
    
</body>
</html>
